<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/baseAdmin.html::head(title='Admin Home Page')"></head>
	
	<body>
		<div th:replace="fragments/baseAdmin.html::navbar"></div>
		
		<div id="movies">
			<div th:each="movie : ${movies}">
				<div class="card">
					<img th:src="@{'/images' + '/' + ${movie.id} + '.jpg'}" alt="Avatar"/>
					<div class="container">
    					<h4><b th:text="'Movie title: ' + ${movie.name}"></b></h4>
    					<p th:text="'Movie release date: ' + ${movie.releaseDate}"></p  >
    					<p th:text="'Movie director: ' + ${movie.director.name} + ' ' +${movie.director.surname}"></p  >
    					<p th:text="'Hall: ' + ${movie.hall.name}"></p  >
    					<p th:text="'Hall capacity: ' + ${movie.hall.capacity}"></p  >
    					<div><button id="reservation-button" type="button" th:onclick=|window.location.href='/home/reservation/${movie.id}'|>Do a reservation</button></div>
    				</div>
				</div>
			</div >
		</div>
		
		<div id="halls">
			<div th:each="hall : ${halls}">
				<div class="card">
					<img th:src="@{'/images' + '/Hall' + ${hall.id} + '.jpg'}" alt="Avatar"/>
					<div class="container">
    					<h4><b th:text="${hall.name}"></b ></h4>
    					<p th:text="'Capacity: ' + ${hall.capacity}"></p >
    				</div>
				</div>
			</div >
		</div>
	
	</body>
</html>