<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="head(title)">
		<meta charset="UTF-8"/>
		<meta content="width=device-width, initial-scale=1.0"/>
		<title th:text="${title}">Titolo</title>
		<link th:href="@{/css/adminStyle.css}" rel="stylesheet"/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0-0/css/bootstrap.min.css" />
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
	</head>

	<body>
		
		<div class="navbar" th:fragment="navbar">
			<a class="flex-items" th:href="@{/adminHome}"><img id="logo" th:src="@{/images/logo-cinema.jpg}" alt="logo"/></a>
			<a class="flex-items" id="hoverEffect" th:href="@{'/admin/home' + '/operation'}">Admin operations</a>
			<a class="flex-items" id="hoverEffect" th:href="@{'/admin/home' + '/movieCatalog'}">Movies</a>
			<a class="flex-items" id="hoverEffect" th:href="@{'/admin/home' + '/halls'}">Halls</a>
			<button class="flex-items" type="button" th:onclick=|window.location.href='/logout'|>Logout</button>
		</div>
		
	</body>
	
</html>