<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Index</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link th:href="@{/css/style.css}" rel="stylesheet"/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
	</head>
	
	<body>
		<div class="header">
			<img th:src="@{/images/filmHeader.jpg}" style="height:100%; width:100%;" />
		</div>
		
		<div class="navbar">
			<a class="flex-items" th:href="@{/}">Home</a>
			<button class="flex-items" type="button" th:onclick=|window.location.href='/login'|>Login</button>
		</div>
		
		<div class="row">
			<div class="side">
				<div style="margin: 20px 0px;"><a th:href="@{/movieCatalog}">Movies</a></div >
				<div style="margin: 20px 0px;"><a th:href="@{/halls}">Halls</a></div >
			</div>
			<div class="main">
				<div id="movies">
					<div th:each="movie : ${movies}">
						<div class="card">
							<img th:src="@{'/images' + '/' + ${movie.id} + '.jpg'}" alt="Avatar" style="width:30%"/>
							<div class="container">
    							<h4><b th:text="${movie.name}"></b></h4>
    							<p th:text="${movie.releaseDate}"></p  >
    						</div>
						</div>
					</div >
				</div>
				<div id="halls">
					<div th:each="hall : ${halls}">
						<div class="card">
							<img th:src="@{'/images' + '/Hall' + ${hall.id} + '.jpg'}" alt="Avatar" style="width:30%"/>
							<div class="container">
    							<h4><b th:text="${hall.name}"></b ></h4>
    							<p th:text="'Capacity: ' + ${hall.capacity}"></p >
    						</div>
						</div>
					</div >
				</div>
			</div>
		</div>
	
	</body>
</html>


