<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<meta content="width=device-width, initial-scale=1.0"/>
		<title>Registration Form</title>
		<link th:href="@{/css/registration.css}" rel="stylesheet"/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
	</head>
	
	<body>
		<div id="flex-container">
			<form th:action="@{/registerUser}" method="POST" id="form">
				<h2>USER REGISTRATION</h2>
				<h4>Name</h4>
				<input type="text" th:field="${user.name}" name="name" class="box" placeholder="Enter name" required />
				<div th:if="${#fields.hasErrors('user.name')}" th:errors="${user.name}" th:style="'color:red'"></div>
				<h4>Surname</h4>
				<input type="text" th:field="${user.surname}" name="surname" class="box" placeholder="Enter surname" required />
				<div th:if="${#fields.hasErrors('user.surname')}" th:errors="${user.surname}" th:style="'color:red'"></div>
				<h4>Username</h4>
				<input type="text" th:field="${credentials.username}" name="username" class="box" placeholder="Enter username" required />
				<div th:if="${#fields.hasErrors('credentials.username')}" th:errors="${credentials.username}" th:style="'color:red'"></div>
				<h4>Password</h4>
				<input type="password" th:field="${credentials.password}" name="password" class="box" placeholder="Enter password" required />
				<div th:if="${#fields.hasErrors('credentials.password')}" th:errors="${credentials.password}" th:style="'color:red'"></div>
				<button type="submit" id="submit">JOIN US</button>
				<a th:href="@{/login}">Login</a>
			</form>
		</div>
	</body>
</html>